.header {
    min-width: 100vw;
    background-color: #4d4d4d;
    margin: 0;
    padding: 0;   
    height: 60px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    background-color: #e8e8e8;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header .company_name {
    height: 50px;
    text-decoration: none;
    align-items: center;
    display: flex;
    color: white;
}

header .name {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: white;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__menu_items {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header__menu_item a {
    text-decoration: none;
}

.header__menu_item button {
    background: transparent;
    border: none;
    color: #fff;
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    text-transform: uppercase;
    transition: 0.5s;
    
} 

.header__menu_item button:hover {
    background: rgba(255, 255, 255, 0.3);

}

.links_img img{
    height: 50px;
}

.links_img button {
    background: transparent;
    border: none;
    height: 60px;
}

.links{
    display:flex;
}

.map iframe {
    width: 500px;
    height: 390px;
}

.text {
    font-size: 20;
}

.text a {
    text-decoration: none;
    color: black;
}


.services-items {
    padding: 30px;
}

.card {
    width: 300px;
    height: 450px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    padding: 5px;
    margin-bottom: 50px;
    transition: 0.5s;
    box-shadow: 3px 3px 5px #4d4d4d;
}

.card img {
    height: 260px;
    max-height: 260px;
    width: 100%;
    border-radius: 20px;

}

.cards-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0 35px;
    flex-wrap: wrap;
    
}

.card-content-wrapper {
    padding: 5px 10px;
    
}

.price {
    text-align: center;
}

.jopa {
    display: flex;
    height: calc(100vh - 137px);
    align-items: center;
    justify-content: space-between;
}

.jopa__leftside,
.jopa__rightside {
    max-width: 50%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4d4d4d;
    color: white;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_address a{
    text-decoration: none;
    color: #fff;
}

.footer_telephone a{
    text-decoration: none;
    color: #fff;
}





.filter {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
}

.button {
    border: none;
    background-color: #ffffff;
    color: #4d4d4d;
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 5px #4d4d4d;
}

button:active {
    bottom: -1px;
}

.button:last-child {
    margin: 0;
}


.hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.anime {
    transform: scale(0);
    opacity: 0;
}

@keyframes hide {
    0% {
        visibility: visible;
        height: 200px;
    }
    100% {
        visibility: hidden;
        height: 0px;
        width: 0px;
        margin: 0;
        font-size: 0;
        max-width: 0;
    }
}